.python-version
*.pyc

TTNet/Dataset/*
TTNet/Trained_Models/*
TTNet/Results/*
TTNet/tmp/*

TrackNet/Dataset/*
TrackNet/Trained_Models/*
TrackNet/Results/*
TrackNet/tmp/*
TrackNet/Videos/*

Labeller/demo/data/*
Labeller/demo/annotations.txt
