TTNet/Trained_Models/*
TTNet/Dataset/*
TTNet/Results/TTNet_Results/Predictions/*
.python-version
TTNet/Results/TTNet_Results/videos/*
TTNet/tmp/*
TTNet/Results/TTNet_Results/out.mp4

TrackNet/Dataset_old/*
TrackNet/Dataset/*
TrackNet/Trained_Models/*
TrackNet/Results/*
TrackNet/tmp/*
TrackNet/Videos/*
